@use "../theme/" as theme;

.header {
	background-color: theme.$color-acc;
	padding: theme.$space-xs;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-btn {
	background-color: transparent;
	border: none;

	font-size: theme.$fs-xs;
	font-weight: theme.$fw-bold;
	cursor: pointer;
}
