@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$fm: "Roboto", sans-serif;

$fs-xs: 10px; // Acciones
$fs-md: 16px; // Descripciones
$fs-lg: 20px; // Títulos de Tarjeta
$fs-xl: 32px; // Título Principal

$fw-regular: 400;
$fw-bold: 700;
