@use "../theme/" as theme;

.dog {
	&-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		gap: theme.$space-lg;
	}

	&-card {
		width: 240px;
		padding: theme.$space-md;
		border: 2px solid theme.$color-acc;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: theme.$space-xxs;

		text-align: center;
	}

	&-photo {
		width: 140px;
		height: 140px;
		border-radius: 50%;
		object-fit: cover;
	}

	&-contact {
		display: flex;
		justify-content: space-evenly;
	}
}
