@use "../theme/" as theme;

.dog {
	&-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		gap: theme.$space-lg;
	}

	&-not-found {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: theme.$fs-md;
	}

	&-card {
		width: 240px;
		padding: theme.$space-md;
		border: 2px solid theme.$color-acc;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: theme.$space-xxs;

		text-align: center;
		position: relative;

		&:hover {
			box-shadow: inset 0 0 6px 3px theme.$color-acc;
			& .dog-actions {
				opacity: 1;
			}
		}
	}

	&-photo {
		width: 140px;
		height: 140px;
		border-radius: 50%;
		object-fit: cover;
	}

	&-contact {
		display: flex;
		justify-content: space-evenly;
	}

	&-actions {
		width: 100%;
		padding: theme.$space-xxs;

		display: flex;
		justify-content: space-between;

		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;

		transition: opacity 0.3s ease;
	}
	&-edit,
	&-del {
		& p {
			font-size: theme.$fs-xs;
		}
	}
}
