@use "../theme/" as theme;

.modal {
	background: theme.$color-main;
	padding: theme.$space-xxl theme.$space-xxl;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 101;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: theme.$space-md;

	&-overlay {
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		// backdrop-filter: blur(5px); /* Desenfoque del fondo */

		opacity: 1;
		transition: opacity 0.3s ease;

		&--hidden {
			display: none;
			opacity: 0;
		}
	}

	&-menu {
		padding: theme.$space-xxs theme.$space-xs;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
	}
	&-close {
		background-color: transparent;
		border: none;

		font-size: theme.$fs-md;
		font-weight: theme.$fw-bold;
		cursor: pointer;
	}
	&-title {
		margin-left: theme.$space-xxs;
	}

	&-form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: theme.$space-md;
	}
	&-input {
		padding: theme.$space-xs theme.$space-sm;
		border: 2px solid theme.$color-acc;
		&[name="description"] {
			width: 100%;
			resize: none;

			grid-column: span 2;
		}
		&:focus {
			outline: none;
			border-color: theme.$color-focus;
		}
	}

	&-actions {
		display: flex;
		gap: theme.$space-md;
	}
	&-confirm,
	&-cancel {
		background-color: theme.$color-acc;
		padding: theme.$space-sm theme.$space-xxl;
		border: none;

		text-align: center;
		cursor: pointer;
		transition: box-shadow 0.3s ease;

		&:hover {
			box-shadow: inset 0 0 6px 3px theme.$color-focus;
		}
	}
}
